/* Small phones from 0 to 480px width */
@media only screen and (max-width: 480px) {

  body {
    font-size: 16px;
    margin: 30px;
  }

  header {
    width: 350px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    word-spacing: 4px;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .personal-info {
    width: 350px;
    margin: 0 auto;
  }

}