/* Small phones from 0 to 480px width */
@media only screen and (max-width: 480px) {

  body {
    font-size: 17px;
    margin: 30px;
  }

  header {
    width: 300px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    word-spacing: 4px;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 19px;
    margin: 20px 0;
  }
  
  .personal-info {
    width: 300px;
    margin: 0 auto;
  }

  .contact li {
    padding: 0 15px;
  }

  .contact li:last-child {
    padding: 0;
    margin-top: 5px;
  }

}